<section>
    <div class="container">
        <picture><img src="/images/beer.png" alt=""></picture>
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer</a>
    </div>
</section>